<div class="row">
    <div class="cold-md-4">
        <div class="card">
            <div class="card-body">
                <h1>Empleados</h1>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Oficina</th>
                    <th>Cargo</th>
                    <th>Salario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeService.employees">
                    <td>{{employee.name}}</td>
                    <td>{{employee.office}}</td>
                    <td>{{employee.position}}</td>
                    <td>{{employee.salary}}</td>
                    <td>
                        <button class="btn btn-primary">Editar</button>
                        <button class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>